
/* 
====================================
CSS for:
The Department of the Interior
Style Guide 
====================================
*/


/* 
====================================
Sets up styles for sidebar / navigation containers
====================================
*/

.sidebar-container {
    background: #4D90CD;
    color: white;
    height: 100%;
    position: fixed;
    padding: 60px;
    width: 180px; height: 100%;
    position: fixed;
  }
  
  
.sidebar-logo {
    width: 180px;
    align: center;
  }
  
  nav p {
    color: white;
    width: 180px
  }

  nav h4 {
    color: white;
    width: 180px
  }

  nav a {
    width: 100%;
    padding: 10px 10px;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    height: 10px;
    margin: 0;
    color: white;  
  }
  
  a {
    color: lightblue;
  }
  
  /* this pseudo class will change the link tag <a> color when you hover on it */
  a:hover {
    color: lightblue;
  }

  a:active {
    color: yellow;
  }

  
  .center p {
    text-align: center;
  }
  
  /* 
  ===========================
  Sets up styles for logos 
  ============================
  */
  
  .section-logo {
    max-width: 90%;
    padding: 10px;
  }
  


  /* 
  ===========================
  Sets up styles for typography 
  ============================
  */
  
  /* Sets up font-face and font-size for body copy */ 
  body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    color: #2C2B25;
  }
  
  /* Sets up font-face and font-size for paragraph text */
  p {
    font-family: 'Open Sans Light', sans-serif;
    font-size: 18px;
    color: #2C2B25;
  }

  /* Sets up font-face and font-size for headers */ 
  h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 48px;
    color: #2C2B25;
  }

  h2 {
      font-family: 'Ubuntu', sans-serif;
      font-size: 36px;
      color: #2C2B25;
  }

  h3 {
      font-family: 'Raleway Semi-Bold', sans-serif;
      font-size: 36px;
      color: #2C2B25;
  }
  
  h4 {
      font-family: 'Ubuntu', sans-serif;
      font-size: 30px;
      color: #2C2B25;
  }

  h5 {
      font-family: 'Raleway Semi-Bold', sans-serif;
      font-size: 24px;
      color: #2C2B25;
  }

  h6 {
      font-family: 'Ubuntu', sans-serif;
      font-size: 24px;
      font-weight: ;
      color: #2C2B25;
      line-height: 20px;
  }
  

  
  /* adds 40px of margin to the top */
  .type-styles {
    margin-top: 40px;
  }
  
  /* adds 40px of margin to the top */
  .type-faces {
    margin-top: 40px;
  }
  
  .type-faces-01 {
    margin-top: 40px;
    font-family: Ubuntu;
  }
  
  .type-faces-02 {    
    margin-top: 40px;
    font-family: Raleway Semi-Bold;
  }

  .type-faces-03 {    
    margin-top: 40px;
    font-family: Open Sans Light;
  }
  



  /* 
  ==========================
  Sets up styles for colors 
  ===========================
  */
  
  /* Makes a rounded square shape to serve a color box */ 
  .color-shape-primary {
    display: block;
    text-align: center;
    width: 6em;
    height: 6em;
    border-radius: 10%;
    margin: 0.5em;
    border: 1px solid white;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.4);
  }
  .color-shape-secondary {
    display: block;
    text-align: center;
    width: 6em;
    height: 6em;
    border-radius: 10%;
    margin: 0.5em;
    border: 1px solid white;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.4);
  }

  
  /* Makes colors */ 
  .color-primary1 {
    background: #A2DAE8;
  }
  
  .color-primary2 {
    background: #295C69;
  }
  
  .color-secondary1 {
    background: #2C3B25;
  }
  
  .color-secondary2 {
    background: #2C2B25;
  }
  
  .color-secondary3 {
    background: #5ED0EC;
  }
  
  .color-secondary4 {
    background: #F3F7FB;
  }
  
  .color-secondary5 {
    background: #B4D2EE;
  }
  
  .color-secondary6 {
    background: #4D90CD;
  }
  




  /* 
  ===========================
  Sets up styles for button 
  ============================
  */
  
  .button button {
    height: 48px;
    width: 215px;
    border-radius: 15px;
    padding: 10px;
    margin: 5px;
    font-family: Ubuntu;
    font-weight: Regular;
    font-size: 18px;
  }
  
  .button-normal {
    background: #F3F7FB;
    color: #2C2B25;
  }
  
  .button-hover {
    background: #5ED0EC;
    color: white;
  }
  
  .button-pressed,
  .button-loading {
    background: #B4D2EE;
    color: #2C2B25;
  }
  
  .button-disabled {
    background: white;
    color: gray;
    border: gray;
  }
  


  /* 
  ==========================
  Sets up styles for icons 
  ===========================
  */
  

  
  /* DOI iconography */
  .doi-icons img {
    margin-top: 40px;
    width: 100px;
    height: 100px;
    padding: 10px;
    justify-content: flex-start;
  }
  
  .svg-icons img {
    margin-top: 40px;
    width: 100px;
    height: 100px;
    padding: 10px;
    justify-content: flex-start;
  }
  


  /* footer iconography */
  .social-icons i {
    font-size: 48px;
    color: black;
    padding: 10px;
  }
  
  .social-icons i:hover {
    color: #5ED0EC;
  }
  



  /* 
  ===========================
  Sets up styles for images 
  ============================
  */
  
  #Imagery 
  
  img {
    padding: 10px;
    max-width: 250px;
    justify-content: flex-start;
  }
  
  /* 
  ====================================
  Sets up styles for articles
  ====================================
  */
  /* article {

   
  } */



/* 
====================================
Sets up styles for .content-container 
====================================
*/

/* Positions section container in relation to .sidebar-container */
.section-container {
        background: white;
        margin-top: 10px;
        margin-left: 290px;
        padding: 30px 30px;
        height: 100%;
}

/* Sets max width for content and align content in middle of section-container */
.content-container {
    background: white;
    margin: 0 auto;
    max-width: 850px;
}

.row-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 15px;
  margin-bottom: 15px;
}


/* Sets row behavior using flexbox: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
/* .row-container-no-wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: none;
    margin-top: 15px;
    margin-bottom: 15px;
  
} */


/* .row-container-around {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
}

.colorBox {
    height: 100px;
    width: 100px;
    background: yellow;
} */

/* 
====================================
BONUS: Sets up styles for mobile breakpoint 
====================================
*/

/* Hides mobile navigation on desktop */
.mobile-nav {
    display: none;
}

/* Sets media query for screens below 450px wide */
@media only screen and (max-width: 450px) {

    /* Position nav at the top */
    nav {
        position: fixed;
        left: 0;
    }

    /* Shows Mobile Navigation Styles  */
    .mobile-nav {
        background: white;
        width: 100%;
        padding: 10px 30px;
        display: flex;
        justify-content: flex-start;
        align-content: center;
        height:80px;
        margin: 0;
        box-shadow: 0 0 10px rgba(0,0,0,0.4);
    }
    /* Sets max width for logos in mobile nav */
    .mobile-nav img {
        height: 80px;
    }

    /* Hides Sidebar on mobile */
    .sidebar-container {
        display: none;
    }
  
    /* Defines mobile container content */
    .section-container {
        background: lightblue;
        margin-top: 60px;
        margin-left: 0px;
        height: 100%;      
    }

    /* Sets Type Styles */
    h1 {
        font-size: 1.6em;
        
    }


    /* .row-container-no-wrap {
      
    }

    #Logo .section-logo {
       
    } */


}

/* 
====================================
BONUS: Sets up css code snippet styles 
====================================
*/

/* pre {

} */
