/* 
====================================
Sets up styles for .sidebar-container 
====================================
*/


/* 
====================================
Sets up styles for sidebar / navigation containers
====================================
*/

.sidebar-container {
    background: #4D90CD;
    height: 100%;
    position: fixed;
    padding: 60px;
    width: 180px; height: 100%;
    position: fixed;
    padding: 60px;
    width: 180px;
  }
  
  
.sidebar-logo {
    width: 180px;
    align: center;
  }
  
  nav a {
    background: yellow;
    width: 100%;
    padding: 10px 10px;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    height: 10px;
    margin: 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
  }
  
  a {
    /* hint: use the color property */
  }
  
  /* this pseudo class will change the link tag <a> color when you hover on it */
  a:hover {
    /* hint: use the color property */
  }
  
  .center p {
    /* hint: use the text align property */
  }
  
  /* 
  ===========================
  Sets up styles for logos 
  ============================
  */
  
  .section-logo {
    /* hint: use the width property */
    /* hint: use the height property */
  }
  
  /* 
  ===========================
  Sets up styles for typography 
  ============================
  */
  
  /* Sets up font-face for body copy */ 
  body {
    /* hint: use the font-family property */
    /* hint: use the color property */
  }
  
  /* Sets up font-face for headers */ 
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    /* hint: use the font-family property */
    /* hint: use the color property */
    /* hint: use the line-height property */
  }
  
  /* Sets up font-weights for headers */ 
  h1 {
    /* hint: use the font-weight property */
  }
  
  h2,
  h3,
  h4,
  h5,
  h6 {
    /* hint: use the font-weight property */
  
  }
  
  /* adds 40px of margin to the top */
  .type-styles {
    /* hint: use the margin-top property */
  }
  
  /* adds 40px of margin to the top */
  .type-faces {
    /* hint: use the margin-top property */
  }
  
  .type-faces-01 {
    /* hint: use the font-family property */
  }
  
  .type-faces-02 {    
    /* hint: use the font-family property */
  }
  
  /* 
  ==========================
  Sets up styles for colors 
  ===========================
  */
  
  /* Makes a circle shape to serve a color box */ 
  .color-shape {
    /* display: block;
    text-align: center;
    width: 6em;
    height: 6em;
    border-radius: 50%;
    margin: 0.5em;
    border: 1px solid white;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.4); */
  }
  
  /* Makes colors */ 
  .color-red {
    /* background: red; */
  }
  
  .color-orange {
    /* background: orange; */
  }
  
  .color-yellow {
    /* background: yellow; */
  }
  
  .color-green {
    /* background: green; */
  }
  
  .color-blue {
    /* background: blue; */
  }
  
  .color-purple {
    /* background: indigo; */
  }
  
  .color-black {
    /* background: black; */
  }
  
  .color-gray {
    /* background: gray; */
  }
  
  /* 
  ===========================
  Sets up styles for button 
  ============================
  */
  
  .button button {
    /* hint: use the height property */
    /* hint: use the width property */ 
    /* hint: use the border-radius property */  
    /* hint: use the padding property */  
    /* hint: use the margin property */  
    /* hint: use the font-family property */  
    /* hint: use the font-weight property */
  }
  
  .button-normal {
    /* hint: use the background property */
    /* hint: use the color property */
  }
  
  .button-hover {
    /* hint: use the background property */
    /* hint: use the color property */
  
  }
  
  .button-pressed,
  .button-loading {
    /* hint: use the background property */
    /* hint: use the color property */
  }
  
  .button-disabled {
     /* hint: use the background property */
    /* hint: use the color property */
  }
  
  /* 
  ==========================
  Sets up styles for icons 
  ===========================
  */
  
  /* TO ADD FONT AWESOME ICONS GO TO THIS LINK AND COPY THE CSS LINK
  https://fontawesome.com/how-to-use/on-the-web/setup/getting-started?using=web-fonts-with-css
  */
  
  /* DOI iconography */
  .doi-icons i {
    /* hint: use the margin-top property */
    /* hint: use the font-size property */  
    /* hint: use the color property */
  }
  
  .svg-icons img {
    /* hint: use the margin-top property */
    /* hint: use the width property */  
    /* hint: use the height property */
  }
  
  /* footer iconography */
  .social-icons i {
    /* hint: use the font-size property */
    /* hint: use the color property */
  }
  
  .social-icons i:hover {
    /* hint: use the color property */
  
  }
  
  /* 
  ===========================
  Sets up styles for images 
  ============================
  */
  
  #Imagery img {
    /* hint: use the padding property */
  
  }
  
  /* 
  ====================================
  Sets up styles for articles
  ====================================
  */
  article {
   
  }

/* Colors: */


  
nav a,
nav h2 {

}

/* 
====================================
Sets up styles for .content-container 
====================================
*/

/* Positions section container in relation to .sidebar-container */
.section-container {
        background: yellow;
        margin-top: 40px;
        margin-left: 290px;
        padding: 30px 30px;
        height: 100%;
  
}

/* Sets max width for content and align content in middle of section-container */
.content-container {
    background: lightskyblue;
    margin: 0 auto;
    max-width: 850px;
}

/* Sets row behavior using flexbox: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
.row-container-no-wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: none;
    margin-top: 15px;
    margin-bottom: 15px;
  
}

.row-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 15px;
    margin-bottom: 15px;
}

.row-container-around {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
}

.colorBox {
    height: 100px;
    width: 100px;
    background: yellow;
}

/* 
====================================
BONUS: Sets up styles for mobile breakpoint 
====================================
*/

/* Hides mobile navigation on desktop */
.mobile-nav {
    display: none;
   
}

/* Sets media query for screens below 450px wide */
@media only screen and (max-width: 450px) {

    /* Position nav at the top */
    nav {
        position: fixed;
        left: 0;
    }

    /* Shows Mobile Navigation Styles  */
    .mobile-nav {
        background: white;
        width: 100%;
        padding: 10px 30px;
        display: flex;
        justify-content: flex-start;
        align-content: center;
        height:80px;
        margin: 0;
        box-shadow: 0 0 10px rgba(0,0,0,0.4);
    }
    /* Sets max width for logos in mobile nav */
    .mobile-nav img {
        height: 80px;
    }

    /* Hides Sidebar on mobile */
    .sidebar-container {
        display: none;
       
    }
  
    /* Defines mobile container content */
    .section-container {
        background: lightblue;
        margin-top: 60px;
        margin-left: 0px;
        height: 100%;

      
    }

    /* Sets Type Styles */
    h1 {
        font-size: 1.6em;
        
    }


    .row-container-no-wrap {
      
    }

    #Logo .section-logo {
       
    }


}

/* 
====================================
BONUS: Sets up css code snippet styles 
====================================
*/

pre {

}
